{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Base{% endblock %}</title>
    <link rel="stylesheet" text="text/css" href="{% static "values.css" %}">
    <link rel="stylesheet" text="text/css" href="{% static "default.css" %}">
    <link rel="stylesheet" text="text/css" href="{% static "login_style.css" %}">
    {% block src_stylesheet %}{% endblock %}
    {% block src_script %}{% endblock %}
</head>
<body>
    <div class="container">
        <div class="content-form">
            <div class="form-menu"></div>
            <div class="form-main">
                <div class="logo"></div>
                <div class="welcome">
                    <h2>Welcome</h2>
                </div>
                {% block error_alex %}{% endblock %}
                <form id="login-from" action="" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="input">
                        {% block input_fields %}{% endblock %}
                        <div class="form-group__text">
                            <button id="submit-login" style="width: 100% !important;" type="submit">{% block submit_button_text %}Register{% endblock %}</button>
                        </div>
{#                        <input type="hidden" name="next" value="{{ next }}">#}
                    </div>
                </form>
            </div>
            <div class="form-needHelp"></div>
            {% block other_option %}{% endblock %}
        </div>
    </div>
    {% block script %}
    {% endblock %}
</body>
</html>