{% extends "user/base.html" %}
{% block error_alect %}
    {% if request.POST %}
        {% if errors %}
        <p>{{ errors }}</p>
        {% else %}
            {% if request.GET.next and user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
            please login with an account that has access.</p>
            {% else %}
            <p>Please login to see this page.</p>
            {% endif %}
        {% endif %}
    {% endif %}
    {% if message %}
        <p>{{ message }}</p>
    {% endif %}
{% endblock %}

{% block input_fields %}
    {% if form.errors %}
        <p>{{ form.errors }}</p>
    {% endif %}
<div class="form-group__text">
    <label for="email">Email</label>
    <input type="text" id="email" name="email"  class="w3-input w3-border" value required oninput="onblur(this)" >
</div>
<div class="form-group__text">
    <label for="password">Password</label>
    <input type="password" id="password" name="password"  class="w3-input w3-border" value required oninput="onblur(this)" >
</div>
{% endblock %}
{% block submit_button_text %}Login{% endblock %}
{% block other_option %}
    <a href="{% url "account:signup" %}">Signup</a>
{% endblock %}