{% load static %}
<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="{% static 'homestay/css/rating_form.css' %}"> {# chuyển thành tag static theo yêu cầu về file static của django #}
  <link href="https://use.fontawesome.com/releases/v5.0.7/css/all.css" rel="stylesheet"
  integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/8ff62b61e7.js" crossorigin="anonymous"></script>
  <title>Rating Homestay</title>
</head>
<body>
  <div class="container">
    <form method="post">
    {% csrf_token %}    {# Đây là tag bắt buộc của django khi upload form dùng POST #}
      <h1> Rating the Homestay</h1>
      <p>Tell us your feeling so we could make it better</p>
      <br>

    <h3> What is your feeling about the homestay ? </h3>
    <div class="Overall">
      <div class = "col1">
        <div class = "O1">
          <input type="radio" name="overall" value="1" id="S1">
          <label for="S1"></label>
        </div>
      </div>
      <div class = "col1">
        <div class ="O2">
          <input type="radio" name="overall" value="2" id="S2">
          <label for="S2"></label>
        </div>
      </div>
      <div class = "col1">
        <div class ="O3">
          <input type="radio" name="overall" value="3" id="S3">
          <label for="S3"></label>
        </div>
      </div>
      <div class = "col1">
        <div class ="O4">
          <input type="radio" name="overall" value="4" id="S4">
          <label for="S4"></label>
        </div>
      </div>
      <div class = "col1">
        <div class ="O5">
          <input type="radio" name="overall" value="5" id="S5">
          <label for="S5"></label>
        </div>
      </div>
      <div class = "col1">
        <div class ="O6">
          <input type="radio" name="overall" value="6" id="S6">
          <label for="S6"></label>
        </div>
      </div>
      <div class = "col1">
        <div class ="O7">
          <input type="radio" name="overall" value="7" id="S7">
          <label for="S7"></label>
        </div>
      </div>
      <div class = "col1">
        <div class ="O8">
          <input type="radio" name="overall" value="8" id="S8">
          <label for="S8"></label>
        </div>
      </div>
      <div class = "col1">
        <div class ="O9">
          <input type="radio" name="overall" value="9" id="S9">
          <label for="S9"></label>
        </div>
      </div>
      <div class = "col1">
        <div class ="O10">
          <input type="radio" name="overall" value="10" id="S10">
          <label for="S10"></label>
        </div>
      </div>
    </div>
      <br>
      <div class="DetailReview">
        <h4>Facility</h4>
        <div class="stars">
          <input type="radio" name="facility" value="1" id="Faci1"><label for="Faci1"></label>
          <input type="radio" name="facility" value="2" id="Faci2"><label for="Faci2"></label>
          <input type="radio" name="facility" value="3" id="Faci3"><label for="Faci3"></label>
          <input type="radio" name="facility" value="4" id="Faci4"><label for="Faci4"></label>
          <input type="radio" name="facility" value="5" id="Faci5"><label for="Faci5"></label>
          </div>

        <h4>Comfort</h4>
        <div class="stars">
          <input type="radio" name="comfort" value="1" id="Co1"><label for="Co1"></label>
          <input type="radio" name="comfort" value="2" id="Co2"><label for="Co2"></label>
          <input type="radio" name="comfort" value="3" id="Co3"><label for="Co3"></label>
          <input type="radio" name="comfort" value="4" id="Co4"><label for="Co4"></label>
          <input type="radio" name="comfort" value="5" id="Co5"><label for="Co5"></label>
        </div>

        <h4>Value for money</h4>
        <div class="stars">
          <input type="radio" name="valueformoney" value="1" id="Rad1"><label for="Rad1"></label>
          <input type="radio" name="valueformoney" value="2" id="Rad2"><label for="Rad2"></label>
          <input type="radio" name="valueformoney" value="3" id="Rad3"><label for="Rad3"></label>
          <input type="radio" name="valueformoney" value="4" id="Rad4"><label for="Rad4"></label>
          <input type="radio" name="valueformoney" value="5" id="Rad5"><label for="Rad5"></label>
        </div>

        <h4>Location</h4>
        <div class="stars">
          <input type="radio" name="location" value="1" id="Lo1"><label for="Lo1"></label>
          <input type="radio" name="location" value="2" id="Lo2"><label for="Lo2"></label>
          <input type="radio" name="location" value="3" id="Lo3"><label for="Lo3"></label>
          <input type="radio" name="location" value="4" id="Lo4"><label for="Lo4"></label>
          <input type="radio" name="location" value="5" id="Lo5"><label for="Lo5"></label>
        </div>

        <h4>Cleanliness</h4>
        <div class="stars">
          <input type="radio" name="cleanliness" value="1" id="Cle1"><label for="Cle1"></label>
          <input type="radio" name="cleanliness" value="2" id="Cle2"><label for="Cle2"></label>
          <input type="radio" name="cleanliness" value="3" id="Cle3"><label for="Cle3"></label>
          <input type="radio" name="cleanliness" value="4" id="Cle4"><label for="Cle4"></label>
          <input type="radio" name="cleanliness" value="5" id="Cle5"><label for="Cle5"></label>
        </div>

    </div>

    <h3> More Feedback </h3>
    <div class="feedback">
      <textarea id ="feedback" name="feedback" placeholder="Tell us more.."></textarea>
    </div>

    <input type="submit", value="Submit">

    </form>
  </div>
</body>


</html>
