{% extends "HomestayManagement/base.html" %}
{% load static %}
{% load homestaytags %}
{% block content_main %}
<div class="content-wrapper">
    <div class='preview-section'>
        <h1 class='preview-section-header'>Header 1</h1>
        <div class='results'>
            {% for homestay in homestay_list %}
                <div class='result-card'>
                    {% with homestay.reviewimage_set.all.0 as review_image %}
                       <a class='cover' href="{% url "hm:detail" homestay.pk %}"
                           {% if review_image  %}
                                style="background-image: url({{ review_image.image.url }});"
                           {% else %}
                                style="background-image: url({% get_media_prefix %}images/download.png);"
                           {% endif %}
                        ></a>

                    {% endwith %}
                    <div class='data'>
                        <div class='title-link'><a href="{% url "hm:detail" homestay.id %}">{{ homestay.title }}</a></div>
                        <p class='address'>{{ homestay.address.address }}</p>
                        <div>
{#                            {% for welcome in homestay.welcomes|welcomes_value2list %}#}
{#                                <span>{{ welcome }}</span>#}
{#                            {% endfor %}#}
                        </div>
                        <div class="card description">
                            {{ homestay.description }}
                        </div>
                        <div class="facilities">
                            {% for facility in homestay.facilities.all %}
                                {% if not facility.address_facility %}
                                    {% if forloop.last %}
                                        <span>{{ facility.name }}</span>
                                    {% else %}
                                        <span>{{ facility.name }},</span>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}